ollama
chromadb
pdfplumber
langchain
langchain-core
langchain_text_splitters
unstructured
unstructured[all-docs]
fastembed
pikepdf
sentence-transformers
sentencepiece
pymupdf
fitz
tools
langchain_community
langchain_ollama
bs4
selenium
webdriver_manager
pdfminer.six
pi_heif
unstructured_inference
pdf2image
unstructured_pytesseract
tesseract
flask
flask_cors
